.real-estate-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1400px;
    margin: 10px 0 auto; /* Horizontal zentrieren */
}

.real-estate-card {
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 2px solid #66b3ff;
    border-radius: 12px;
    padding: 10px;
    margin: 15px;
    display: grid;
    grid-template-rows: 10% 17% 38% 35%;
    gap: 5px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-heart {
    justify-content: flex-end;
}

.card-title h3 {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
}

.card-image {
    overflow: hidden;
}

.card-buttons {
    min-height: 30px;
}

.real-estate-card:hover {
    border-color: #388e3c; /* Farbe der Border bei Hover-Effekt ändern */
    transform: scale(1.03); /* Skaliert das Bild leicht beim Hover */
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.8); /* Leichter Schatten bei Hover */
    cursor: pointer;
}

.real-estate-card-image {
    width: 100px; /* Bild passt sich der Breite an */
    max-height: 70px;
    object-fit: cover; /* Bild wird vollständig angezeigt */
    border: 2px solid black; /* Border um das Bild */
    border-radius: 5px;
}
